<html>
  <head>
    <style>
    a {
      display: block;
      font-size: 20px;
      padding: 10px;
      text-decoration: none;
    }
    </style>
  </head>
  <body>
    {% if topics %}
      <h1>Forum topics</h1>
      <form action="/add">
        <input name="topic" placeholder="New topic">
        <input type="submit">
      </form>
      {% for key, value in topics %}
        <a href="/page/{{key}}">{{value.title}}</a>
      {% endfor %}
    {% else %}

      <h1>{{title}}</h1>
      <form action="/add/">
        <input name="topic" placeholder="New topic">
        <input type="submit">
      </form>

      {% for messageText in message %}
        <p> {{messageText}} </p>
      {% endfor %}
    {% endif %}
  </body>
</html>
